{% load compress %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'custumers/component.css' %}?{% now "d" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'custumers/custumer_details.css' %}?{% now "d" %}">
    <script>
        $(document).ready(function() {
            $("#loading").hide()
            $(".item").click(function () {
                $("#main").hide();
                $("#loading").show();
            });
        });
    </script>
</head>
<body>
    {% include "navbar_bot.html" %}
    {% if messages %}
        <div class="message-container" dir="rtl">
            {% for msg in messages %}
                <h2 class="msg msg_{{ msg.tags }}">{{ msg }}</h2>
            {% endfor %}
        </div>
    {% endif %}
    <div id="main">
        <h3 id="title">User Info: {{ customer_obj.chat_id }}</h3>
            {% if not customer_obj.active %}
                <h3 dir="rtl" style="color: #0a0000" class="banned">⛔️ یوزر توسط ادمین بن شده است. ⛔️</h3>
            {% endif %}
        <div class="infobox" dir="rtl">
            {% if customer_obj.username == none %}
                <h3 class="info_item"> یوزرنیم : ----</h3>
            {% else %}
                <h3 class="info_item"> یوزرنیم : {{ customer_obj.username }}@</h3>
            {% endif %}
            <h3 class="info_item">نام : {{ customer_obj.name }}</h3>
            <h3 class="info_item">موجودی کیف پول : {{ customer_obj.wallet|price }} T  <a href="{% url "customers:change_wallet" customer_obj.chat_id %}"><img style="width: 2rem" src="{% static 'img/edit.png' %}" alt=""></a></h3>
            <h3 class="info_item">تعداد خرید ها : {{ customer_obj.purchase_number }}</h3>
            <h3 class="info_item">مجموع پرداخت ها :  T</h3>
            {% if customer_obj.active %}
                <h3 class="info_item">وضعیت : فعال 🟢</h3>
            {% else %}
                <h3 class="info_item">وضعیت : غیرفعال 🔴</h3>
            {% endif %}
        <div id="btnaction">
            <a class="imgc" href=""><img src="{% static "img/sendmsg.png" %}"></a>
            <a class="imgc" href=""><img src="{% static 'img/icons8-restart-512.png' %}" alt=""></a>
            {% if customer_obj.active %}
                <a class="ban imgc" href=""><img src="{% static "img/ban.png" %}" alt=""></a>
            {% else %}
                <a class="ban imgc" href=""><img src="{% static "img/unban.png" %}" alt=""></a>
            {% endif %}
        </div>
        </div>
        {% if not sum_configs %}
            <h3 id="title">🔻 کانفیگی ثبت نشده است 🔻</h3>
        {% else %}
            <h3 id="title">لیست کانفیگ ها</h3>
            <div class="configs_list">
                {% for service in services %}

                    <div class="configbox">
                        <a href="{% url 'configs:conf_page' service.uuid %}" class="conf_name">{{ service.name }}</a>
                        <h6 class="usage conf_infos">🔃 {{ service.usage }} / {{ service.usage_limit }} GB</h6>
                        {% if service.expire_time == 0 %}
                    <div class="time">
                        <h4 class="expire_text blue_infinite">⏳ ∞ day</h4>
                    </div>
                {% elif service.start_time == 0 %}
                      <h6 class="time conf_infos">⏳ {{ service.expire_time }} d</h6>
                {% elif service.expire_time|dh_int > 0 %}
                      <h6 class="time conf_infos">⏳ {{ service.expire_time|dh }}</h6>

                {% else %}
                        <h6 class="time conf_infos">⏳ {{ service.expire_time|dh }} ago</h6>
                {% endif %}

                {% if service.start_time == 0 %}
                    <h6 class="time conf_infos">🔵 Not Started 🔵</h6>
                {% elif service.status == 2 %}
                    <h6 class="time conf_infos">⭕ Ended ⭕</h6>
                {% elif service.status == 1 %}
                    <h6 class="time conf_infos">⏸️ disabled ⏸️</h6>
                {% elif service.status == 4 %}
                    <h6 class="time conf_infos">❌ deleting ❌</h6>
                {% else %}
                    <h6 class="time conf_infos">🟢 Active 🟢</h6>
                {% endif %}



                    </div>

                {% endfor %}
            </div>
        {% endif %}
        <hr style="background-color: #0a0000">
                <h4 id="his">History</h4>
            <div class="xcontainer">
		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
                                <th>Data/Time</th>
                                <th>َAction</th>
		    				</tr>
		    			</thead>
		    			<tbody>
                        {% for x in history %}
                            <tr>
                                <td>
                                    {{ x.timestamp|timestamp }}
                                </td>
                                <td dir="ltr">
                                    {{ x.action }}
                                </td>
                            </tr>
                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>

    </div>
{% include "loading.html" %}

</body>
</html>