{% load compress %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'custumers/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'configs/config_page.css' %}">
</head>

<body dir="">
    {% include 'messages.html' %}
<div id="main">
{#    {% if service %}#}
        <h3 id="conf_name">{{ service.name|split_name }}</h3>
        {% if service.status == 1 %}
            <h4 id="dis" dir="rtl">⛔ این کانفیگ غیرفعال است. ⛔</h4>
        {% endif %}
        <div id="box1">
            <div class="show_usage">
                {% if service.usage_limit == 0  %}
                    <div class="centering">
                        <h4 class="usage_text">{{ service.usage|floatformat:2 }}GB / <span style="font-size: x-large">∞</span></h4>
                        <div class="progress progressـusage_box">
                            {% if service.usage == 0 %}
                                <div class="progressـusage progress-bar bg-success" role="progressbar" style="width:100%" aria-confinfonow="100" aria-confinfomin="0" aria-confinfomax="100">Not Started</div>
                            {% else %}
                                <div class="progressـusage progress-bar bg-unlimit" role="progressbar" style="width: 100%" aria-confinfonow="100" aria-confinfomin="0" aria-confinfomax="100">∞</div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% if service.usage|percent:service.usage_limit > 99 %}
                        <div class="centering">
                            <h4 class="usage_text">{{ service.usage|floatformat:2 }}GB /{{ service.usage_limit }}GB</h4>
                            <div class="progress progressـusage_box">
                                <div class="progressـusage progress-bar bg-danger" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-confinfonow="{{ service.usage|percent:service.usage_limit }}" aria-confinfomin="0" aria-confinfomax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                            </div>
                        </div>
                    {% elif service.usage|percent:service.usage_limit > 95 %}
                        <div class="centering">
                            <h4 class="usage_text">{{ service.usage|floatformat:2 }}GB /{{ service.usage_limit }}GB</h4>
                            <div class="progress progressـusage_box">
                                <div class="progressـusage progress-bar bg-warning" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-confinfonow="{{ service.usage|percent:service.usage_limit }}" aria-confinfomin="0" aria-confinfomax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                            </div>
                        </div>
                    {% elif service.usage|percent:service.usage_limit > 0 %}
                        <div class="centering">
                            <h4 class="usage_text">{{ service.usage|floatformat:2 }}GB /{{ service.usage_limit }}GB</h4>
                            <div class="progress progressـusage_box">
                                <div class="progressـusage progress-bar bg-info" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-confinfonow="{{ service.usage|percent:service.usage_limit }}" aria-confinfomin="0" aria-confinfomax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="centering">
                            <h4 class="usage_text">{{ service.usage|floatformat:2 }}GB /{{ service.usage_limit }}GB</h4>
                            <div class="progress progressـusage_box">
                                {% if service.start_time == 0  %}
                                    <div class="progressـusage progress-bar bg-success" role="progressbar" style="width:100%" aria-confinfonow="{{ service.3 }}" aria-confinfomin="0" aria-confinfomax="100">Not Started</div>
                                {% else %}
                                    <div class="progressـusage progress-bar bg-info" role="progressbar" style="width:0%" aria-confinfonow="0" aria-confinfomin="0" aria-confinfomax="100">0%</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="show_time">
                {% if service.expire_time == 0 %}
                    <div class="time">
                        <h4 class="expire_text blue_infinite">⏳ ∞ day</h4>
                    </div>
                {% elif service.start_time == 0 %}
                    <div class="time">
                        <h4 class="expire_text green">⏳ {{ service.expire_time }} day</h4>
                    </div>
                {% elif service.expire_time|dh_int > 3 %}
                    <div class="time">
                        <h4 class="expire_text blue">⏳ {{ service.expire_time|dh }}</h4>
                    </div>
                {% elif service.expire_time|dh_int > 0 %}
                    <div class="time">
                        <h4 class="expire_text orange">⏳ {{ service.expire_time|dh }}</h4>
                    </div>

                {% else %}
                    <div class="time">
                        <h4 class="expire_text red">⏳ {{ service.expire_time|dh }} ago</h4>
                    </div>
                {% endif %}


                <div class="time">
                    {% if service.user_limit == 0 %}
                        <h4 class="expire_text blue">👤 ∞ user</h4>
                    {% else %}
                        <h4 class="expire_text blue">👤 {{ service.user_limit }} user</h4>
                    {% endif %}
            </div>
            </div>

        </div>

        <div id="box2">
            <div>
                <div class="btnslist">
                    <button class="btn" onclick="copyToClipboard('#vless')">📡 کپی کانفیگ 📡</button>
                </div>
                    <p hidden id="vless">{{ sub_link }}</p>
                <hr style="width: 100%; background-color: #d8d8d8">
            </div>
        </div>

<script>
            function copyToClipboard(element) {
          var $temp = $("<textarea>");
          $("body").append($temp);
          var text = $(element).text();
          $temp.val(text).select();
          document.execCommand("copy");
          $temp.remove();
          alert("با موفقیت کپی شد.");
        }
</script>
{% if config_info %}
            <h4 id="his">History</h4>
            <div class="xcontainer">

		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
                                <th>Data/Time</th>
                                <th>َAction</th>
		    				</tr>
		    			</thead>
		    			<tbody>
                        {% for x in conf_log %}
                            <tr>
                                <td>
                                    {{ x.timestamp|timestamp }}
                                </td>
                                <td dir="ltr">
                                    {{ x.action }}
                                </td>
                            </tr>
                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>
{% endif %}


    </div>
{% include "loading.html" %}

</body>
</html>