{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="fa" class="no-js">
	<head>
		<title>List Configs</title>
        {% include "base_head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'custumers/component.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'configs/list_configs.css' %}" />
    </head>
	<body dir="ltr">
    <script>
    function confirmDelete(uuid, name, inbound_id) {
        const result = confirm(" آیا از حذف کانفیگ " + name + " مطمئنید؟ " );
        if (result) {
            window.location.href = "/servers/delete_config/{{ server_id }}/"+ uuid + '/' + name + "/" + inbound_id;
        }
}
    </script>
    <script>
        function togg() {
            $("#Active").prop("checked", false);
            $("#Ended").prop("checked", false);
            $("#Disabled").prop("checked", false);
            $("#All").prop("checked", false);
            $(".ended").show();
            $(".active").show();
            $(".disabled").show();
        }
        $(document).ready(function() {
            $("#All").prop("checked", true);
            $("#All").click(function () {
                $("#Active").prop("checked", false);
                $("#Ended").prop("checked", false);
                $("#Disabled").prop("checked", false);
                $(".ended").show();
                $(".active").show();
                $(".disabled").show();
            });

            $("#Active").click(function () {
                togg();
                $("#Active").prop("checked", true);
                $(".ended").hide();
                $(".active").show();
                $(".disabled").hide();
            });

            $("#Ended").click(function () {
                togg();
                $("#Ended").prop("checked", true);
                $(".ended").show();
                $(".active").hide();
                $(".disabled").hide();
            });
            $("#Disabled").click(function () {
                togg();
                $("#Disabled").prop("checked", true);
                $(".ended").hide();
                $(".active").hide();
                $(".disabled").show();
            });

        })
    </script>


        {% include "navbar_sellers.html" %}
        {% include 'messages.html' %}
        <div id="main">


            <form action="" method="post">
            {% csrf_token %}
             <div id="searchbox">
                <h3 id="textin" dir="rtl">{{ searchform.search_config }}</h3>
                <input id="subbut" value="Search" class="submit_btn" type="submit">
                 {% if searched == True %}
                    <a id="comeback" href="{% url 'configs:seller_list' username %}">بازگشت</a>
                 {% endif %}
             </div>
         </form>
        <div id="filterbox">
                    <div><input id="All" type="checkbox" value="All Configs" name="All"> <label for="All"> All Configs</label></div>
                    <div><input id="Ended" type="checkbox" value="Ended" name="Ended"> <label for="Ended"> Ended</label></div>
                    <div><input id="Disabled" type="checkbox" value="Disabled" name="Disabled"> <label for="Disabled"> Disabled</label></div>
                    <div><input id="Active" type="checkbox" value="Active" name="Active"> <label for="Active"> Active</label></div>
                </div>
		    <div class="xcontainer">

		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
		    					<th>نام کانفیگ</th>
                                <th>حجم مصرفی</th>
                                <th>انقضا (روز)</th>
                                <th>کاربر</th>
                                <th>نوع</th>
		    				</tr>
		    			</thead>
		    			<tbody>
                        {% for service in data %}

                                {% if service.status == 2 %}
                                    <tr class="ended">
                                {% elif service.status == 1 %}
                                    <tr class="disabled">
                                {% else %}
                                    <tr class="active">
                                {% endif %}


                                {% if service.status == 1 %}
		    					    <th style="background-color: #888888" class="fix_col name_red"><p onclick="hidden_page(`{{ service.name }}`, `{{ service.uuid }}`,false)" class="c_name" style="color: #000e47" href="{% url 'configs:conf_page' service.uuid  %}">🚫 {{ service.name }} 🚫</p></th>
                                {% elif service.status == 2 %}
		    					    <th class="fix_col name_red"><p onclick="hidden_page(`{{ service.name }}`, `{{ service.uuid }}`,true)" class="c_name" style="color: red" href="{% url 'configs:conf_page' service.uuid %}">{{ service.name }}</p></th>
                                {% elif service.status == 4 %}
		    					    <th class="fix_col name_red" style="background-color: red"><p class="c_name" style="color: #ffffff; background-color: red" href="{% url 'configs:conf_page' service.uuid %}">{{ service.name }} (deleting)</p></th>
                                {% else %}
		    					    <th class="fix_col"><p onclick="hidden_page(`{{ service.name }}`, `{{ service.uuid }}`,true)" class="c_name">{{ service.name }}</p></th>
                                {% endif %}
                                <td>
                                    {% if service.usage_limit == 0  %}
                                        <div class="centering">
                                            <h4 class="usage_text">{{ service.usage|floatformat:2 }} GB / <span style="font-size: x-large">∞</span></h4>
                                            <div class="progress progressـusage_box">
                                                {% if service.start_time == 0 %}
                                                    <div class="progressـusage progress-bar bg-success" role="progressbar" style="width:100%"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Not Started</div>
                                                {% else %}
                                                    <div class="progressـusage progress-bar bg-unlimit" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">∞</div>
                                                {% endif %}
                                            </div>
{#                                            {% if service.uuid|infinit_limit %}#}
{#                                                <h3 class="sys_limit">⛔ {{ service.uuid|infinit_limit }} GB ⛔</h3>#}
{#                                            {% endif %}#}
                                        </div>
                                    {% else %}
                                        {% if service.usage|percent:service.usage_limit > 99 %}
                                        <div class="centering">
                                            <h4 class="usage_text">{{ service.usage|floatformat:2 }} GB / {{ service.usage_limit }} GB</h4>
                                            <div class="progress progressـusage_box">
                                                <div class="progressـusage progress-bar bg-danger" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-valuenow="{{ service.usage|percent:service.usage_limit }}" aria-valuemin="0" aria-valuemax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                                            </div>
                                        </div>
                                        {% elif service.usage|percent:service.usage_limit > 95 %}
                                        <div class="centering">
                                            <h4 class="usage_text">{{ service.usage|floatformat:2 }} GB / {{ service.usage_limit }} GB</h4>
                                            <div class="progress progressـusage_box">
                                                <div class="progressـusage progress-bar bg-warning" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-valuenow="{{ service.usage|percent:service.usage_limit }}" aria-valuemin="0" aria-valuemax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                                            </div>
                                        </div>
                                        {% elif service.usage|percent:service.usage_limit > 0 %}
                                            <div class="centering">
                                            <h4 class="usage_text">{{ service.usage|floatformat:2 }} GB / {{ service.usage_limit }} GB</h4>
                                            <div class="progress progressـusage_box">
                                                <div class="progressـusage progress-bar bg-info" role="progressbar" style="width: {{ service.usage|percent:service.usage_limit }}%" aria-valuenow="{{ service.usage|percent:service.usage_limit }}" aria-valuemin="0" aria-valuemax="100">{{ service.usage|percent:service.usage_limit }}%</div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="centering">
                                            <h4 class="usage_text">{{ service.usage|floatformat:2 }} GB / {{ service.usage_limit }} GB</h4>
                                            <div class="progress progressـusage_box">
                                                {% if service.start_time == 0  %}
                                                    <div class="progressـusage progress-bar bg-success" role="progressbar" style="width:100%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">Not Started</div>
                                                {% else %}
                                                    <div class="progressـusage progress-bar bg-info" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}

                                </td>


                                <td>
                                    {% if service.expire_time == 0 %}
                                    <div class="centering">
                                        <h4 class="expire_text blue_infinite">∞ day</h4>
                                    </div>
                                    {% elif service.start_time == 0  %}
                                        <div class="centering">
                                        <h4 class="expire_text green">{{ service.expire_time|floatformat:0 }} day</h4>
                                    </div>
                                    {% elif service.expire_time|dh_int > 3 %}
                                    <div class="centering">
                                        <h4 class="expire_text blue ">{{ service.expire_time|dh }}</h4>
                                    </div>

                                    {% elif  service.expire_time|dh_int > 0 %}
                                    <div class="centering">
                                        <h4 class="expire_text orange">{{ service.expire_time|dh }}</h4>
                                    </div>

                                    {% else %}
                                    <div class="centering">
                                        <h4 class="expire_text red">{{ service.expire_time|dh }} ago</h4>
                                    </div>
                                    {% endif %}
                                </td>

                                {% if service.user_limit == 0 %}
                                    <td class="ipbox" dir="rtl"><p class="iplimit">∞</p></td>
                                {% else %}
                                    <td class="ipbox" dir="rtl"><p class="iplimit">{{ service.user_limit }}</p></td>
                                {% endif %}

                                {% if service.usage_limit == 0 %}
                                    <td class="type">نامحدود</td>
                                {% else %}
                                    <td class="type"> حجمی</td>
                                {% endif %}

                            </tr>

                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>


        </div>
        <div id="list_action">
            <div class="closebox" dir="rtl"><button onclick="show_main()" class="close_btn">✖️</button></div>
            <h3 id="cooonf_name"></h3>
            <div class="btn_boxx">
                <a class="link_btns" id="info_link" href="">
                    <img class="imgg" src="{% static "img/info.png" %}" alt="">
                    <p class="ttt"> صفحه اطلاعات</p>
                </a>
                <a class="link_btns" id="tamdid_link" href="">
                    <img class="imgg" src="{% static "img/icons8-restart-512.png" %}" alt="">
                    <p class="ttt">تمدید</p>
                </a>
                <a class="link_btns" id="enable_link" href="">
                    <img class="imgg" src="{% static "img/enable.png" %}" alt="">
                    <p class="ttt">فعال کردن</p>
                </a>
                <a class="link_btns" id="disable_link" href="">
                    <img class="imgg" src="{% static "img/disable.png" %}" alt="">
                    <p class="ttt">غیرفعال کردن</p>
                </a>
                <a class="link_btns" id="change_link" href="">
                    <img class="imgg" src="{% static "img/setting.png" %}" alt="">
                    <p class="ttt">تغییر کانفیگ</p>
                </a>
                <a class="link_btns" id="delete_link">
                    <img class="imgg" src="{% static 'img/icons8-delete-64.png' %}" alt="">
                    <p class="ttt">حذف</p>
                </a>
        </div>
            <script>
                function hidden_page(name ,uuid, enable) {
                    document.getElementById("main").style.display = "none";
                    document.getElementById("list_action").style.display = "block";
                    document.getElementById("cooonf_name").innerHTML = `${name}`;
                    document.getElementById("info_link").href = `/configs/sellers_config_page/${uuid}/`
                    document.getElementById("delete_link").href = `/configs/delete_config/${uuid}/`
                    document.getElementById("change_link").href = `/configs/change_config_page/${uuid}/${name}/`
                    document.getElementById("tamdid_link").style.display = "block";
                    document.getElementById("tamdid_link").href=`/configs/renew_page/${uuid}/auto/`;
                    if (enable) {
                        document.getElementById("disable_link").style.display = "block";
                        document.getElementById("disable_link").href =`/configs/disable_config/${uuid}/0/`;
                        document.getElementById("enable_link").style.display = "none";
                    } else {
                        document.getElementById("enable_link").style.display = "block";
                        document.getElementById("enable_link").href =`/configs/disable_config/${uuid}/1/`;
                        document.getElementById("disable_link").style.display = "none";
                    }
                }
            </script>
            <script>
                $(document).ready(show_main)
                function show_main() {
                    document.getElementById("main").style.display = "block";
                    document.getElementById("list_action").style.display = "none";
                }
            </script>
    </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src={% static "js/list.js" %}></script>
	</body>

{% include "loading.html" %}

</html>