{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="fa" class="no-js">
	<head>
		<title>List Configs</title>
        {% include "base_head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'custumers/component.css' %}?{% now "d" %}?{% now "d" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'finance/surathesab_page.css' %}?{% now "d" %}?{% now "d" %}"/>
    </head>
	<body dir="ltr">
        {% include "navbar_sellers.html" %}
        {% include 'messages.html' %}
        <div id="main">
            <h3 id="counter">{{ username }}</h3>
            <h3 id="counter"> T صورتحساب کل: {{ sum_bills|price }}</h3>
        {% if user.level_access == 10 %}
            <form action="" method="post">
                {% csrf_token %}
                <div>{{ form.price }},000</div>
                <input type="submit" value="پرداخت">
            </form>
        {% endif %}
		    <div class="xcontainer">
		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
                                <th>SERVICE</th>
                                <th>PRICE</th>
                                <th>TYPE</th>
                                <th>DESCRIPTION</th>
                                <th>DATE/TIME</th>
                                <th>CREATE BY</th>
                                <th>CREATE FOR</th>
                            </tr>
		    			</thead>
		    			<tbody>
                        {% for value in purchases %}
                            <tr>
                                <td class="color{{ value.type }}">{{ value.service_name }}</td>
                                <td class="color{{ value.type }}">{{ value.price|price }} T</td>
                                {% if value.type == 0 %}
                                    <td class="color{{ value.type }}">خرید</td>
                                {% elif value.type == 1 %}
                                    <td class="color{{ value.type }}">تمدید</td>
                                {% elif value.type == 2 %}
                                    <td class="color{{ value.type }}">پرداخت</td>
                                {% endif %}
                                <td class="color{{ value.type }}">{{ value.description }}</td>
                                <td class="color{{ value.type }}">{{ value.date_time|timestamp }}</td>
                                <td class="color{{ value.type }}">{{ value.created_by }}</td>
                                <td class="color{{ value.type }}">{{ value.created_for }}</td>

                            </tr>
                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>


        </div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src={% static "js/list.js" %}></script>
	</body>

{% include "loading.html" %}

</html>