<div dir="rtl" id="popup-window" style="justify-items: right">
  <h1 style="text-align: right">Access Denied</h1>
  <p style="text-align: right" dir="rtl">دسترسی شما به این بخش محدود شده است.</p>
  <button id="close-button">Close</button>
</div>

<style>
#popup-window {
    margin: 5vw;
  margin-top: 5rem;
  width: 90%;
  background: rgba(255, 128, 150, 0.57);
  box-shadow: #0a0000 0 0 10px 3px;
  border: 1px solid black;
  padding: 10px;
  display: none;
}
#close-button {
    font-size: large;

}

</style>

<script>
        $(document).ready(function() {
            $(".no_access").click(function () {
                $("#popup-window").show();
                $("#main").hide()
            });

            $("#close-button").click(function () {
                $("#popup-window").hide();
                $("#main").show();
            });
        });
    </script>