
    <div class="servers" id="list_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>
        <h3>لیست کانفیگ ها</h3>
    <div class="server_lists" >
        <a class="server_name" href='{% url "sellers_config:list_configs" 0 %}'>🔰 All Users 🔰</a>
        {% if not user.level_access == 10 %}
        <a class="server_name" href='{% url "sellers_config:list_configs" user.id %}'>{{ user.username }} 👤</a>
        {% endif %}
        {% for s in sellers_list %}
                <a class="server_name" href='{% url "sellers_config:list_configs" s.id %}'>{{ s.username }} 👤</a>
            {% endfor %}
        </div>
    </div>
    <div class="servers" id="create_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>
        <h3>ساخت کانفیگ</h3>
        <div class="server_lists" >
        {% if not user.level_access == 10 %}
            <a class="server_name" href="{% url "sellers_config:create_config" user.id %}">{{ user.username }} 👤</a>
        {% endif %}
            {% for s in sellers_list %}
                <a class="server_name" href="{% url "sellers_config:create_config" s.id %}">{{ s.username }} 👤</a>
            {% endfor %}
        </div>

    </div>